@import url("./html-css/global.css");

body {
  font-family: "InfoFontEnglish", sans-serif;
  background-color: var(--ashen);
  color: var(--amber);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  text-align: center;
  margin-bottom: 5px;
}

.title {
  color: var(--crimson);
  font-family: "TitleFontEnglish", serif;
  font-size: 3rem;
  text-shadow: 2px 2px var(--soot);
}

main {
  font-size: 1.3rem;
  text-align: center;
  margin: 0 100px 100px 100px;
  padding: 20px;
  background-color: var(--gray);
  border-radius: 10px;
  border: 2px solid var(--moss);
}

/* Accent color */

a {
  color: var(--amber);
  text-decoration: underline;
}

a:hover {
  color: var(--crimson);
  text-decoration: underline;
}

.content .scrambled-text {
  font-family: "ScrambledFont", sans-serif;
  font-size: 1.5rem;
}

.warning-text {
  color: var(--crimson);
  font-family: "TitleFontEnglish", serif;
}

.spacing {
  padding-top: 25px;
}

#PagesHidden {
  display: none;
}

footer > ul > li {
  list-style-type: none;
}

img {
  margin-top: 25px;
  width: 319.4px;
  height: 319.4px;
}
.img-text {
  display: block;
  margin: 0 auto;
}
