/* Main Colors */
:root {
  --crimson: #8b0000;
  --gray: #0e2121;
  --amber: #c88a56;
  --copper: #b66e4f;
  --ghost: #f8f8ff;
  --moss: #7cae18;
  --soot: #1c1c1c;
  --ashen: #4f4a4a;
  --midnight: #191970;
}

@font-face {
  font-family: "InfoFontEnglish";
  src: url("../Fonts/InfoFont/InfoFontEnglish.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ScrambledFont";
  src: url("../Fonts/InfoFont/ScrambledFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TitleFontEnglish";
  src: url("../Fonts/InfoFont/TitleFontEnglish.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
